@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap'); //400-800
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap'); //200-800
@tailwind base;
@tailwind components;
@tailwind utilities;

.head-text a {
  text-decoration: none;
  color: inherit;
}
.head-text {
  font-family: 'Karla', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: rgb(9, 28, 72);
  margin-left: 3%;
  margin-right: 3%;
  padding: 0;
  border: none;
  background: none;
}

.head-glass {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 5vh;
  top: 0;
  left: 0;
  z-index: 100;
}
